<p id="notice"><%= notice %></p>

<p>
  <strong>Person name:</strong>
  <%= @person_name.person_name_id %>
</p>

<p>
  <strong>Preferred:</strong>
  <%= @person_name.preferred %>
</p>

<p>
  <strong>Person:</strong>
  <%= @person_name.person_id %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @person_name.prefix %>
</p>

<p>
  <strong>Given name:</strong>
  <%= @person_name.given_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @person_name.middle_name %>
</p>

<p>
  <strong>Family name prefix:</strong>
  <%= @person_name.family_name_prefix %>
</p>

<p>
  <strong>Family name:</strong>
  <%= @person_name.family_name %>
</p>

<p>
  <strong>Family name2:</strong>
  <%= @person_name.family_name2 %>
</p>

<p>
  <strong>Family name suffix:</strong>
  <%= @person_name.family_name_suffix %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @person_name.degree %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @person_name.creator %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @person_name.date_created %>
</p>

<p>
  <strong>Voided:</strong>
  <%= @person_name.voided %>
</p>

<p>
  <strong>Voided by:</strong>
  <%= @person_name.voided_by %>
</p>

<p>
  <strong>Date voided:</strong>
  <%= @person_name.date_voided %>
</p>

<p>
  <strong>Void reason:</strong>
  <%= @person_name.void_reason %>
</p>

<p>
  <strong>Changed by:</strong>
  <%= @person_name.changed_by %>
</p>

<p>
  <strong>Date changed:</strong>
  <%= @person_name.date_changed %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @person_name.uuid %>
</p>

<%= link_to 'Edit', edit_person_name_path(@person_name) %> |
<%= link_to 'Back', person_names_path %>
