<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Gender</th>
      <th>Birthdate</th>
      <th>Birthdate estimated</th>
      <th>Dead</th>
      <th>Death date</th>
      <th>Cause of death</th>
      <th>Creator</th>
      <th>Date created</th>
      <th>Changed by</th>
      <th>Date changed</th>
      <th>Voided</th>
      <th>Voided by</th>
      <th>Date voided</th>
      <th>Void reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.person_id %></td>
        <td><%= person.gender %></td>
        <td><%= person.birthdate %></td>
        <td><%= person.birthdate_estimated %></td>
        <td><%= person.dead %></td>
        <td><%= person.death_date %></td>
        <td><%= person.cause_of_death %></td>
        <td><%= person.creator %></td>
        <td><%= person.date_created %></td>
        <td><%= person.changed_by %></td>
        <td><%= person.date_changed %></td>
        <td><%= person.voided %></td>
        <td><%= person.voided_by %></td>
        <td><%= person.date_voided %></td>
        <td><%= person.void_reason %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
