<p id="notice"><%= notice %></p>

<p>
  <strong>Person address:</strong>
  <%= @person_address.person_address_id %>
</p>

<p>
  <strong>Person:</strong>
  <%= @person_address.person_id %>
</p>

<p>
  <strong>Preferred:</strong>
  <%= @person_address.preferred %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @person_address.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @person_address.address2 %>
</p>

<p>
  <strong>City village:</strong>
  <%= @person_address.city_village %>
</p>

<p>
  <strong>State province:</strong>
  <%= @person_address.state_province %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @person_address.postal_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @person_address.country %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @person_address.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @person_address.longitude %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @person_address.creator %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @person_address.date_created %>
</p>

<p>
  <strong>Voided:</strong>
  <%= @person_address.voided %>
</p>

<p>
  <strong>Voided by:</strong>
  <%= @person_address.voided_by %>
</p>

<p>
  <strong>Date voided:</strong>
  <%= @person_address.date_voided %>
</p>

<p>
  <strong>Voided by:</strong>
  <%= @person_address.voided_by %>
</p>

<p>
  <strong>Date voided:</strong>
  <%= @person_address.date_voided %>
</p>

<p>
  <strong>Voided reason:</strong>
  <%= @person_address.voided_reason %>
</p>

<p>
  <strong>County district:</strong>
  <%= @person_address.county_district %>
</p>

<p>
  <strong>Neighborhood cell:</strong>
  <%= @person_address.neighborhood_cell %>
</p>

<p>
  <strong>Region:</strong>
  <%= @person_address.region %>
</p>

<p>
  <strong>Subregion:</strong>
  <%= @person_address.subregion %>
</p>

<p>
  <strong>Township division:</strong>
  <%= @person_address.township_division %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @person_address.uuid %>
</p>

<%= link_to 'Edit', edit_person_address_path(@person_address) %> |
<%= link_to 'Back', person_addresses_path %>
